<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= yield %>
  <style>
  button.btn a {
    color: #000000;
  }

  button.btn a:hover {
    text-decoration: none;
  }
</style>
</body>  <style>
  button.btn a {
    color: #ffffff;
  }

  button.btn a:hover {
    text-decoration: none;
  }
</style>
</html>
